<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
<head>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <meta charset="UTF-8"/>
    <title>书籍列表</title>
</head>
<style>
    .top-set{
        width: 1400px;
        margin-left: 56px;
    }
    .price-set{
        color: #E3393C;
        font-size: 16px;
    }
    .name-set{
        font-size: 14px;
        color: black;
    }
    .amount-set{
        color: #649cd9;
        font-size: 14px;
    }
    .location-set{
     font-size: 12px;

    }
</style>

<body>
<div >
    <img src="http://peojfj6k8.bkt.clouddn.com/topPic.png" class="top-set">
</div>


<div class="container">

    <h3>Spring Data JPA练习 </h3>


    <div class="row" >
        <div class="col-xs-6 col-sm-3"  th:each="book : ${bookList}">
            <div class="thumbnail">

                <img th:src="@{${book.avatar}}">
                <div class="caption location-set">
                    <p th:text="￥+' '+${book.price}" class="price-set"></p>
                    <p class="name-set "><a th:href="@{/book/{bookId}(bookId=${book.id})}" th:text="${book.name}"></a></p>
                    <p><text class="amount-set">7.2万+</text><text>条评论</text></p>

                    <!--<h4 th:text="${book.author}"></h4>-->

                </div>
            </div>
        </div>

    </div>


</div>

</body>
</html>